*{
    font-family: 'Roboto', sans-serif;
}
body{
    min-height: 100vh;
}
h1{
    font-family: 'Kaushan Script', cursive;
}
a{
    color:#222;
    font-family: 'Roboto', sans-serif;
}
a:hover{
    color:#222;
    text-decoration: none;
    font-weight:bold;
}
.col,.col-6{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
button{
    background: linear-gradient(to bottom, blue, darkblue);
    color: #fff;
    border: solid 1px blue;
    border-radius: 5px;
    outline: none !important;
}
.go-back{
    border-right: solid 1px #888;
}
#anim-box, .fade-box, #blink-box,#slide-box{
    height: 100px;
    width: 250px;
    background: linear-gradient(to bottom right,red,green);
    border-radius: 5px;
}
#fade-box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.fade-box{
    width: 100px;
}
#blink-box,#slide-box{
    height: 250px;
    width: 100%;
}
#slide-box{
    border-radius: 0px;
}
#clickable{
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom, blue, darkblue);
    color: #fff;
    border-radius: 0px;
}
#clickable:hover{
    cursor: pointer;
}
